@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Estonia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@font-face {
	font-family: "BreeSerif";
	src: url(text/BreeSerif-Regular.ttf);
}
body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.Barber-Container {
	position: absolute;
	z-index: 10;
	left: 0vw;
	top: 0vw;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 0, 0, 0);
}
.left {
	position: absolute;
	left: 0vw;
	top: 0vw;
	height: 100%;
	width: 40vw;
	background: linear-gradient(
		to right,
		rgba(114, 0, 89),
		rgba(0, 0, 255, 0) 80.71%
	);
}
.right {
	position: absolute;
	right: 0vw;
	top: 0vw;
	height: 100%;
	width: 40vw;
	background: linear-gradient(
		to left,
		rgba(114, 0, 89),
		rgba(0, 0, 255, 0) 80.71%
	);
}
.streifen {
	position: absolute;
	width: 0.1vw;
	height: 100%;
	left: 4vw;
	background-color: white;
}
.friseurtext {
	position: absolute;
	color: white;
	font-size: 4vw;
	left: -21.3vw;
	top: 26vh;
	width: 40vw;
	text-align: right;
	background-color: rgba(255, 0, 0, 0);
	transform: rotate(270deg);
	font-family: "Bebas Neue", cursive;
	letter-spacing: 0.4vw;
}
.kasten {
	position: absolute;
	width: 8vw;
	height: 14vh;
	left: 10vw;
	top: 14vh;
	background-color: rgba(30, 30, 30, 0.402);
	border: 2px solid white;
	cursor: pointer;
}
.kasten:hover {
	transition: 1s;
	background-color: rgba(30, 30, 30, 0.738);
}
.strichoben {
	position: absolute;
	height: 14vh;
	left: 14vw;
	top: 0vh;
	width: 0.1vw;
	background-color: rgb(128, 128, 128);
}
.strichobenzwei {
	position: absolute;
	height: 14vh;
	left: 14vw;
	top: 28.4vh;
	width: 0.1vw;
	background-color: rgb(128, 128, 128);
}
.bild {
	position: absolute;
	width: 50%;
	left: 1.9vw;
	top: 2.8vh;
}
.kastenzwei {
	position: absolute;
	width: 8vw;
	height: 14vh;
	left: 10vw;
	top: 42.5vh;
	background-color: rgba(30, 30, 30, 0.402);
	border: 2px solid white;
	cursor: pointer;
}
.kastenzwei:hover {
	transition: 1s;
	background-color: rgba(30, 30, 30, 0.738);
}
.strichobendrei {
	position: absolute;
	height: 14vh;
	left: 14vw;
	top: 57vh;
	width: 0.1vw;
	background-color: rgb(128, 128, 128);
}
.kastendrei {
	position: absolute;
	width: 8vw;
	height: 14vh;
	left: 10vw;
	top: 71vh;
	background-color: rgba(30, 30, 30, 0.402);
	border: 2px solid white;
	cursor: pointer;
}
.kastendrei:hover {
	transition: 1s;
	background-color: rgba(30, 30, 30, 0.738);
}
.strichobenvier {
	position: absolute;
	height: 15vh;
	left: 14vw;
	top: 85.4vh;
	width: 0.1vw;
	background-color: rgb(128, 128, 128);
}
.range-slidersese {
	max-width: 23em;
	margin: 8vw auto;
	position: absolute;
	top: 2vh;
	left: 5.2vw;
	display: flex;
}
.range-slidersese .slidersess {
	-webkit-appearance: none;
	width: 23vw;
	height: 1.5vh;
	outline: none;
	border-radius: 10vw;
	background-color: rgba(0, 0, 0, 0.558);
}
.range-slidersese .slidersess::-webkit-slider-thumb {
	width: 1.7vw;
	height: 1.2vh;
	-webkit-appearance: none;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
.range-slidersese .slider-thumbsesses {
	position: absolute;
	width: 1.3vw;
	height: 2.3vh;
	background: black;
	border-radius: 10vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	box-shadow: inset 0px 1px 2px black;
}
.range-slidersese .slider-thumbsesses::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	width: 0.55vw;
	height: 0.9vh;
	background-color: #333;
	border-radius: inherit;
	transition: 0.3s;
}
.range-slidersese:hover .slider-thumbsesses:before {
	background: #6b006e;
}
.range-slidersese .progressssss {
	width: 50%;
	height: 0.6vh;
	left: 0.4vw;
	border-radius: 3px;
	background: linear-gradient(90deg, #33002f 0%, #2e0085 100%);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}
.Nase-Breite-text {
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 1.4vw;
	letter-spacing: 0.1vw;
	left: 5vw;
	top: 9vh;
	text-align: center;
	font-family: "Roboto", sans-serif;
}
.strichdrunters {
	position: absolute;
	width: 15vw;
	height: 0.2vh;
	top: 14.21vh;
	left: 5vw;
	border-top-right-radius: 1vw;
	border-bottom-right-radius: 1vw;
	background-color: rgb(185, 32, 86);
}
.Nase-Spitzenhöhe-text {
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 1.4vw;
	letter-spacing: 0.1vw;
	left: 5vw;
	top: 18vh;
	text-align: center;
	font-family: "Roboto", sans-serif;
}
.strichdrunters2 {
	position: absolute;
	width: 15vw;
	height: 0.2vh;
	top: 23.21vh;
	left: 5vw;
	border-top-right-radius: 1vw;
	border-bottom-right-radius: 1vw;
	background-color: rgb(185, 32, 86);
}
.strichdrunters3 {
	position: absolute;
	width: 15vw;
	height: 0.2vh;
	top: 31.7vh;
	left: 5vw;
	border-top-right-radius: 1vw;
	border-bottom-right-radius: 1vw;
	background-color: rgb(185, 32, 86);
}
.range-sliderseses {
	max-width: 23em;
	margin: 8vw auto;
	position: absolute;
	top: 11vh;
	left: 5.2vw;
	display: flex;
}
.range-sliderseses .slidersesss {
	-webkit-appearance: none;
	width: 23vw;
	height: 1.5vh;
	outline: none;
	border-radius: 10vw;
	background-color: rgba(0, 0, 0, 0.558);
}
.range-sliderseses .slidersesss::-webkit-slider-thumb {
	width: 1.7vw;
	height: 1.2vh;
	-webkit-appearance: none;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
.range-sliderseses .slider-thumbsessess {
	position: absolute;
	width: 1.3vw;
	height: 2.3vh;
	background: black;
	border-radius: 10vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	box-shadow: inset 0px 1px 2px black;
}
.range-sliderseses .slider-thumbsessess::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	width: 0.55vw;
	height: 0.9vh;
	background-color: #333;
	border-radius: inherit;
	transition: 0.3s;
}
.range-sliderseses:hover .slider-thumbsessess:before {
	background: #6b006e;
}
.range-sliderseses .progresssssss {
	width: 50%;
	height: 0.6vh;
	left: 0.4vw;
	border-radius: 3px;
	background: linear-gradient(90deg, #33002f 0%, #2e0085 100%);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}
.Nase-Breite-länge-text {
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 1.4vw;
	letter-spacing: 0.1vw;
	left: 5vw;
	top: 26.5vh;
	text-align: center;
	font-family: "Roboto", sans-serif;
}

.Nase-Spitzenhöhe-Knochen-text {
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 1.4vw;
	letter-spacing: 0.1vw;
	left: 5vw;
	top: 35vh;
	text-align: center;
	font-family: "Roboto", sans-serif;
}
.range-slidersesess {
	max-width: 23em;
	margin: 8vw auto;
	position: absolute;
	top: 19.5vh;
	left: 5.2vw;
	display: flex;
}
.strichdrunters4 {
	position: absolute;
	width: 15vw;
	height: 0.2vh;
	top: 40vh;
	left: 5vw;
	border-top-right-radius: 1vw;
	border-bottom-right-radius: 1vw;
	background-color: rgb(185, 32, 86);
}
.range-slidersesess .slidersessses {
	-webkit-appearance: none;
	width: 23vw;
	height: 1.5vh;
	outline: none;
	border-radius: 10vw;
	background-color: rgba(0, 0, 0, 0.558);
}
.range-slidersesess .slidersessses::-webkit-slider-thumb {
	width: 1.7vw;
	height: 1.2vh;
	-webkit-appearance: none;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
.range-slidersesess .slider-thumbsessesse {
	position: absolute;
	width: 1.3vw;
	height: 2.3vh;
	background: black;
	border-radius: 10vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	box-shadow: inset 0px 1px 2px black;
}
.range-slidersesess .slider-thumbsessesse::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	width: 0.55vw;
	height: 0.9vh;
	background-color: #333;
	border-radius: inherit;
	transition: 0.3s;
}
.range-slidersesess:hover .slider-thumbsessesse:before {
	background: #6b006e;
}
.range-slidersesess .progresssssssss {
	width: 50%;
	height: 0.6vh;
	left: 0.4vw;
	border-radius: 3px;
	background: linear-gradient(90deg, #33002f 0%, #2e0085 100%);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}
@media screen and (max-width: 700px) {
	.neu-range-slider {
		width: 100%;
	}
}
.range-slidersesessse {
	max-width: 23em;
	margin: 8vw auto;
	position: absolute;
	top: 27.5vh;
	left: 5.2vw;
	display: flex;
}
.range-slidersesessse .slidersesssesse {
	-webkit-appearance: none;
	width: 23vw;
	height: 1.5vh;
	outline: none;
	border-radius: 10vw;
	background-color: rgba(0, 0, 0, 0.558);
}
.range-slidersesessse .slidersesssesse::-webkit-slider-thumb {
	width: 1.7vw;
	height: 1.2vh;
	-webkit-appearance: none;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
.range-slidersesessse .slider-thumbsessesses {
	position: absolute;
	width: 1.3vw;
	height: 2.3vh;
	background: black;
	border-radius: 10vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	box-shadow: inset 0px 1px 2px black;
}
.range-slidersesessse .slider-thumbsessesses::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0.55vw;
	height: 0.9vh;
	background-color: #333;
	border-radius: inherit;
	transition: 0.3s;
}
.range-slidersesessse:hover .slider-thumbsessesses:before {
	background: #6b006e;
}
.range-slidersesessse .progressssssssss {
	width: 50%;
	height: 0.6vh;
	left: 0.4vw;
	border-radius: 3px;
	background: linear-gradient(90deg, #33002f 0%, #2e0085 100%);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}
.submitbuttonseedsf {
	position: relative;
	left: 78vw;
	top: 85vh;
	width: 21vw;
	height: 10vh;
	z-index: 29;
	padding: 0;

	font-size: 3.5vw;
	background-color: rgba(31, 31, 31, 0.287);
	outline: none;
	cursor: pointer;
	border-radius: 0.2vw;

	border: none;
	color: #ffffff;
	outline: none;
	font-family: "Bebas Neue", cursive;
	letter-spacing: 0.2vw;
	border: 0.1vw solid rgb(61, 0, 58);
	z-index: 29;
}
.submitbuttonseedsf:hover {
	filter: brightness(85%);
	color: #ffffff;
	background-color: rgba(23, 23, 23, 0.808);
}
.textes {
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 1.7vw;
	letter-spacing: 0.1vw;
	left: 78vw;
	top: 60vh;
	width: 21vw;
	text-align: center;
	font-family: "Roboto", sans-serif;
}
.überschrift {
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 3vw;
	letter-spacing: 0.1vw;
	left: 78vw;
	top: 49vh;
	width: 21vw;
	text-align: center;
	font-family: "Roboto", sans-serif;
}
.back {
	position: absolute;
	width: 5vw;
	z-index: 2;

	left: 93.5vw;
	cursor: pointer;
	top: 1vh;
}
.Augen-Farbe-text {
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 2vw;
	letter-spacing: 0.1vw;
	left: 5vw;
	top: 9vh;
	text-align: center;
	font-family: "Roboto", sans-serif;
}
.Augenbrauen-Farbe-text {
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 2vw;
	letter-spacing: 0.1vw;
	left: 5vw;
	top: 17vh;
	text-align: center;
	font-family: "Roboto", sans-serif;
}
.Augenbrauen-Farbes-text {
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 2vw;
	letter-spacing: 0.1vw;
	left: 5vw;
	top: 31vh;
	text-align: center;
	font-family: "Roboto", sans-serif;
}
.Augenbrauen-Dichte-text {
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 2vw;
	letter-spacing: 0.1vw;
	left: 5vw;
	top: 24vh;
	text-align: center;
	font-family: "Roboto", sans-serif;
}
.rangadse-dedfdadasdas {
	max-width: 23em;
	margin: 8vw auto;
	position: absolute;
	top: 2vh;
	left: 5.2vw;
	display: flex;
}
.rangadse-dedfdadasdas .slidedsfsadasdrsaddaases {
	-webkit-appearance: none;
	width: 23vw;
	height: 1.5vh;
	outline: none;
	border-radius: 10vw;
	background-color: rgba(0, 0, 0, 0.558);
}
.rangadse-dedfdadasdas .slidedsfsadasdrsaddaases::-webkit-slider-thumb {
	width: 1.7vw;
	height: 1.2vh;
	-webkit-appearance: none;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
.rangadse-dedfdadasdas .slider-dddaadsasddasdsadast {
	position: absolute;
	width: 1.3vw;
	height: 2.6vh;
	background: black;
	border-radius: 50vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	box-shadow: inset 0px 1px 2px black;
}
.rangadse-dedfdadasdas .slider-dddaadsasddasdsadast::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0.55vw;
	height: 0.9vh;
	background-color: #333;
	border-radius: inherit;
	transition: 0.3s;
}
.rangadse-dedfdadasdas:hover .slider-dddaadsasddasdsadast:before {
	background: #6b006e;
}
.rangadse-dedfdadasdas .dasdada {
	width: 50%;
	height: 0.6vh;
	left: 0.4vw;
	border-radius: 3px;
	background: linear-gradient(90deg, #33002f 0%, #2e0085 100%);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}
@media screen and (max-width: 700px) {
	.neu-range-slider {
		width: 100%;
	}
}
.rangadse-dedfdasadadasdas {
	max-width: 23em;
	margin: 8vw auto;
	position: absolute;
	top: 11vh;
	left: 5.2vw;
	display: flex;
}
.rangadse-dedfdasadadasdas .sadaasdasdaAdsad {
	-webkit-appearance: none;
	width: 23vw;
	height: 1.5vh;
	outline: none;
	border-radius: 10vw;
	background-color: rgba(0, 0, 0, 0.558);
}
.rangadse-dedfdasadadasdas .sadaasdasdaAdsad::-webkit-slider-thumb {
	width: 1.7vw;
	height: 1.2vh;
	-webkit-appearance: none;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
.rangadse-dedfdasadadasdas .slider-dddaadsasddasasdadsadast {
	position: absolute;
	width: 1.3vw;
	height: 2.6vh;
	background: black;
	border-radius: 50vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	box-shadow: inset 0px 1px 2px black;
}
.rangadse-dedfdasadadasdas .slider-dddaadsasddasasdadsadast::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0.55vw;
	height: 0.9vh;
	background-color: #333;
	border-radius: inherit;
	transition: 0.3s;
}
.rangadse-dedfdasadadasdas:hover .slider-dddaadsasddasasdadsadast:before {
	background: #6b006e;
}
.rangadse-dedfdasadadasdas .dasdadsadaada {
	width: 50%;
	height: 0.6vh;
	left: 0.4vw;
	border-radius: 3px;
	background: linear-gradient(90deg, #33002f 0%, #2e0085 100%);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}
@media screen and (max-width: 700px) {
	.neu-range-slider {
		width: 100%;
	}
}
.rangadse-dedfdasadaasdadqqdasdas {
	max-width: 30em;
	margin: 8vw auto;
	position: absolute;
	top: 16.5vh;
	left: 5vw;
	display: flex;
}
.rangadse-dedfdasadaasdadqqdasdas .sadaaasdadqsdasdaAdsad {
	-webkit-appearance: none;
	width: 18vw;
	height: 1.8vh;
	outline: none;
	border-radius: 10vw;
	background-color: black;
	box-shadow: 3px 3px 6px #000, inset 1px 1px 1px #909090;
}
.rangadse-dedfdasadaasdadqqdasdas
	.sadaaasdadqsdasdaAdsad::-webkit-slider-thumb {
	width: 1.7vw;
	height: 1.2vh;
	-webkit-appearance: none;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
.rangadse-dedfdasadaasdadqqdasdas .slider-asdqasadq {
	position: absolute;
	width: 1.3vw;
	height: 2.6vh;
	background: black;
	border-radius: 50vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	box-shadow: inset 0px 1px 2px black;
}
.rangadse-dedfdasadaasdadqqdasdas .slider-asdqasadq::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0.55vw;
	height: 0.9vh;
	background-color: #333;
	border-radius: inherit;
	transition: 0.3s;
}
.rangadse-dedfdasadaasdadqqdasdas:hover .slider-asdqasadq:before {
	background: #6b006e;
}
.rangadse-dedfdasadaasdadqqdasdas .dasdadsasdaadaada {
	width: 50%;
	height: 0.6vh;
	left: 0.4vw;
	border-radius: 3px;
	background: linear-gradient(90deg, #33002f 0%, #2e0085 100%);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}
@media screen and (max-width: 700px) {
	.neu-range-slider {
		width: 100%;
	}
}
.rangadse-dedfdasadaasdaadsqetdqqdasdas {
	max-width: 30em;
	margin: 8vw auto;
	position: absolute;
	top: 24.5vh;
	left: 5vw;
	display: flex;
}
.rangadse-dedfdasadaasdaadsqetdqqdasdas .sadasadadaasdadqsdasdaAdsad {
	-webkit-appearance: none;
	width: 18vw;
	height: 1.8vh;
	outline: none;
	border-radius: 10vw;
	background-color: black;
	box-shadow: 3px 3px 6px #000, inset 1px 1px 1px #909090;
}
.rangadse-dedfdasadaasdaadsqetdqqdasdas
	.sadasadadaasdadqsdasdaAdsad::-webkit-slider-thumb {
	width: 1.7vw;
	height: 1.2vh;
	-webkit-appearance: none;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
.rangadse-dedfdasadaasdaadsqetdqqdasdas .slider-asdawqeqgg {
	position: absolute;
	width: 1.3vw;
	height: 2.6vh;
	background: black;
	border-radius: 50vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	box-shadow: inset 0px 1px 2px black;
}
.rangadse-dedfdasadaasdaadsqetdqqdasdas .slider-asdawqeqgg::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0.55vw;
	height: 0.9vh;
	background-color: #333;
	border-radius: inherit;
	transition: 0.3s;
}
.rangadse-dedfdasadaasdaadsqetdqqdasdas:hover .slider-asdawqeqgg:before {
	background: #6b006e;
}
.rangadse-dedfdasadaasdaadsqetdqqdasdas .dasdetgfadsasdaadaada {
	width: 50%;
	height: 0.6vh;
	left: 0.4vw;
	border-radius: 3px;
	background: linear-gradient(90deg, #33002f 0%, #2e0085 100%);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}
@media screen and (max-width: 700px) {
	.neu-range-slider {
		width: 100%;
	}
}
.HautProbleme-text {
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 2vw;
	letter-spacing: 0.1vw;
	left: 5vw;
	top: 8vh;
	text-align: center;
	font-family: "Roboto", sans-serif;
}
.SommerSprossen-text {
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 2vw;
	letter-spacing: 0.1vw;
	left: 5vw;
	top: 24vh;
	text-align: center;
	font-family: "Roboto", sans-serif;
}

.HautProbleme-Varrieren-text {
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 2vw;
	letter-spacing: 0.1vw;
	left: 5vw;
	top: 16vh;
	text-align: center;
	font-family: "Roboto", sans-serif;
}

.SommerSprossen-Varrieren-text {
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 2vw;
	letter-spacing: 0vw;
	left: 5vw;
	top: 32vh;
	text-align: center;
	font-family: "Roboto", sans-serif;
}
.range-slidersesseff {
	max-width: 30em;
	margin: 8vw auto;
	position: absolute;
	top: 1vh;
	left: 5vw;
	display: flex;
}
.range-slidersesseff .slidersesesdd {
	-webkit-appearance: none;
	width: 18vw;
	height: 1.5vh;
	outline: none;
	border-radius: 10vw;
	background-color: black;
	box-shadow: 3px 3px 6px #000, inset 1px 1px 1px #909090;
}
.range-slidersesseff .slidersesesdd::-webkit-slider-thumb {
	width: 1.7vw;
	height: 1.2vh;
	-webkit-appearance: none;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
.range-slidersesseff .slider-thumbseses {
	position: absolute;
	width: 1.3vw;
	height: 2.6vh;
	background: black;
	border-radius: 50vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	box-shadow: inset 0px 1px 2px black;
}
.range-slidersesseff .slider-thumbseses::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0.55vw;
	height: 0.9vh;
	background-color: #333;
	border-radius: inherit;
	transition: 0.3s;
}
.range-slidersesseff:hover .slider-thumbseses:before {
	background: #6b006e;
}
.range-slidersesseff .progressssedfss {
	width: 50%;
	height: 0.6vh;
	left: 0.4vw;
	border-radius: 3px;
	background: linear-gradient(90deg, #33002f 0%, #2e0085 100%);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}
@media screen and (max-width: 700px) {
	.neu-range-slider {
		width: 100%;
	}
}
.range-dddd {
	max-width: 30em;
	margin: 8vw auto;
	position: absolute;
	top: 17.5vh;
	left: 5vw;
	display: flex;
}
.range-dddd .slideddrseses {
	-webkit-appearance: none;
	width: 18vw;
	height: 1.5vh;
	outline: none;
	border-radius: 10vw;
	background-color: black;
	box-shadow: 3px 3px 6px #000, inset 1px 1px 1px #909090;
}
.range-dddd .slideddrseses::-webkit-slider-thumb {
	width: 1.7vw;
	height: 1.2vh;
	-webkit-appearance: none;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
.range-dddd .slider-thumbsdeses {
	position: absolute;
	width: 1.3vw;
	height: 2.6vh;
	background: black;
	border-radius: 50vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	box-shadow: inset 0px 1px 2px black;
}
.range-dddd .slider-thumbsdeses::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0.55vw;
	height: 0.9vh;
	background-color: #333;
	border-radius: inherit;
	transition: 0.3s;
}
.range-dddd:hover .slider-thumbsdeses:before {
	background: #6b006e;
}
.range-dddd .progresssdfss {
	width: 50%;
	height: 0.6vh;
	left: 0.4vw;
	border-radius: 3px;
	background: linear-gradient(90deg, #33002f 0%, #2e0085 100%);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}
@media screen and (max-width: 700px) {
	.neu-range-slider {
		width: 100%;
	}
}
.range-slidersesSseffsasdas {
	max-width: 30em;
	margin: 8vw auto;
	position: absolute;
	top: 9.5vh;
	left: 5vw;
	display: flex;
}
.range-slidersesSseffsasdas .sasdlidersesesasdd {
	-webkit-appearance: none;
	width: 18vw;
	height: 1.5vh;
	outline: none;
	border-radius: 10vw;
	background-color: black;
	box-shadow: 3px 3px 6px #000, inset 1px 1px 1px #909090;
}
.range-slidersesSseffsasdas .sasdlidersesesasdd::-webkit-slider-thumb {
	width: 1.7vw;
	height: 1.2vh;
	-webkit-appearance: none;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
.range-slidersesSseffsasdas .slider-adsthumbsesadsaes {
	position: absolute;
	width: 1.3vw;
	height: 2.6vh;
	background: black;
	border-radius: 50vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	box-shadow: inset 0px 1px 2px black;
}
.range-slidersesSseffsasdas .slider-adsthumbsesadsaes::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0.55vw;
	height: 0.9vh;
	background-color: #333;
	border-radius: inherit;
	transition: 0.3s;
}
.range-slidersesSseffsasdas:hover .slider-adsthumbsesadsaes:before {
	background: #6b006e;
}
.range-slidersesSseffsasdas .progresssdassedfss {
	width: 50%;
	height: 0.6vh;
	left: 0.4vw;
	border-radius: 3px;
	background: linear-gradient(90deg, #33002f 0%, #2e0085 100%);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}
.range-ddddasda {
	max-width: 30em;
	margin: 8vw auto;
	position: absolute;
	top: 25.6vh;
	left: 5vw;
	display: flex;
}
.range-ddddasda .dasdslideddrseses {
	-webkit-appearance: none;
	width: 18vw;
	height: 1.5vh;
	outline: none;
	border-radius: 10vw;
	background-color: black;
	box-shadow: 3px 3px 6px #000, inset 1px 1px 1px #909090;
}
.range-ddddasda .dasdslideddrseses::-webkit-slider-thumb {
	width: 1.7vw;
	height: 1.2vh;
	-webkit-appearance: none;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
.range-ddddasda .slider-thumdfsfsfasdeses {
	position: absolute;
	width: 1.3vw;
	height: 2.6vh;
	background: black;
	border-radius: 50vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	box-shadow: inset 0px 1px 2px black;
}
.range-ddddasda .slider-thumdfsfsfasdeses::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0.55vw;
	height: 0.9vh;
	background-color: #333;
	border-radius: inherit;
	transition: 0.3s;
}
.range-ddddasda:hover .slider-thumdfsfsfasdeses:before {
	background: #6b006e;
}
.range-ddddasda .asdaadsa {
	width: 50%;
	height: 0.6vh;
	left: 0.4vw;
	border-radius: 3px;
	background: linear-gradient(90deg, #33002f 0%, #2e0085 100%);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}
.classtextauswahl {
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 2vw;
	letter-spacing: 0.1vw;
	left: 5.5vw;
	top: -1.5vh;
	text-align: center;
	font-family: "BreeSerif", sans-serif;
}
.strichdrunterheadline {
	position: absolute;
	width: 15vw;
	height: 0.2vh;
	top: 6.21vh;
	left: 5vw;
	border-top-right-radius: 1vw;
	border-bottom-right-radius: 1vw;
	background-color: rgb(185, 32, 86);
}
.headtext {
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 1.6vw;
	text-transform: uppercase;
	letter-spacing: 0.1vw;
	left: 5vw;
	width: 17.5vw;
	text-align: center;
	border-bottom: 2px solid white;
	top: 79vh;
	font-family: "Nanum Myeongjo", serif;
	font-family: "DM Mono", monospace;
}
.textpfeil {
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 1.3vw;
	text-transform: uppercase;
	letter-spacing: 0.1vw;
	left: 4.7vw;
	width: 18vw;
	text-align: center;

	top: 83.5vh;

	font-family: "DM Mono", monospace;
}
.lefts {
	position: absolute;
	height: 8vh;
	width: 5vw;
	border-radius: 0.1vw;
	top: 89.6vh;
	left: 5vw;
	background-color: rgba(26, 26, 26, 0.657);
}
.rights {
	position: absolute;
	height: 8vh;
	width: 5vw;
	border-radius: 0.1vw;
	top: 89.6vh;
	left: 17.4vw;
	background-color: rgba(26, 26, 26, 0.657);
}
.beschreibung {
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 2.1vw;
	text-transform: uppercase;
	letter-spacing: 0.1vw;
	left: 1.8vw;
	background-color: rgba(255, 0, 0, 0);
	text-align: center;
	top: -0.8vh;
	font-family: "Roboto", sans-serif;
}
.payfenster {
	position: absolute;
	width: 20vw;
	height: 30vh;
	left: 5vw;
	top: 68vh;
	background-color: rgba(30, 30, 30, 0.225);
	border: 2px solid rgb(177, 0, 193);
}
.container-zahlen {
	position: absolute;
	width: 19vw;
	height: 24.5vh;
	background-color: rgba(33, 33, 33, 0.61);
	border: 0.1vh solid rgba(221, 77, 119, 1);
	left: 5vw;
	top: 73vh;
}
.buttonkaufen {
	position: relative;
	left: 6vw;
	top: 90.5vh;
	width: 7.8vw;
	height: 5.4vh;
	z-index: 29;
	font-size: 1.2vw;
	background-color: rgba(54, 0, 63, 0.476);
	outline: none;
	cursor: pointer;
	border-radius: 0.2vw;
	color: #ffffff;
	border: none;
	border: 0.1vw solid white;
	outline: none;
	z-index: 29;
}
.buttonkaufen:hover {
	filter: brightness(85%);
	color: #ffffff;
	transition: 1s all;
	border: 0.1vw solid rgba(221, 77, 119, 255);
	background-color: rgba(21, 21, 21, 0.746);
}
.buttonspeichern {
	position: relative;
	left: 6.5vw;
	top: 90.5vh;
	width: 8.7vw;
	height: 5.4vh;
	z-index: 29;
	font-size: 1.2vw;
	background-color: rgba(34, 31, 31, 0.476);
	outline: none;
	cursor: pointer;
	border-radius: 0.2vw;
	color: #ffffff;
	border: none;
	border: 0.1vw solid white;
	outline: none;
	z-index: 29;
}
.buttonspeichern:hover {
	filter: brightness(85%);
	color: #ffffff;
	transition: 1s all;
	border: 0.1vw solid rgba(221, 77, 119, 255);
	background-color: rgba(21, 21, 21, 0.746);
}
.ganzerpreitstext {
	position: absolute;
	color: #ffffff;
	font-family: "Nunito Sans", sans-serif;
	left: 1vw;

	font-size: 1.3vw;
	text-align: left;
	top: -0.2vh;
	letter-spacing: 0.1vw;
	background-color: rgba(255, 0, 0, 0);
}
.preistotal {
	position: absolute;
	color: #00c400;
	font-family: "Open Sans", sans-serif;
	left: 1vw;
	font-size: 1.7vw;
	text-align: right;
	top: 2.2vh;
	letter-spacing: 0.05vw;
	background-color: rgba(255, 0, 0, 0);
}
.textveränderung {
	position: absolute;
	color: #ffffff;
	font-family: "Nunito Sans", sans-serif;
	left: 1vw;

	font-size: 0.95vw;
	text-align: left;
	top: 9vh;
	letter-spacing: 0.1vw;
	background-color: rgba(255, 0, 0, 0);
}
