@import url("https://fonts.googleapis.com/css2?family=Goldman&family=Radio+Canada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.container-zweiterschwarzmarkt {
	position: absolute;
	width: 80vw;
	height: 80vh;
	background-color: rgba(255, 0, 0, 0);
	left: 10vw;

	top: 10vh;
}
.linksoben {
	position: absolute;
	height: 80vh;
	width: 25vw;

	background-color: rgb(10, 10, 10);
	cursor: pointer;
}
.bild {
	width: 100%;
	height: 100%;
	filter: blur(1vw);
}
.rechtsobenerste {
	position: absolute;
	width: 27vw;
	height: 40vh;
	background-color: black;
	left: 25vw;
	cursor: pointer;
}
.rechtsobenzweite {
	position: absolute;
	width: 27vw;
	height: 40vh;
	background-color: black;
	left: 51.9vw;
	cursor: pointer;
}
.rechtsutenerste {
	position: absolute;
	width: 27vw;
	height: 40vh;
	background-color: black;
	left: 25vw;
	cursor: pointer;
	top: 40vh;
}
.rechtsutenzweite {
	position: absolute;
	width: 27vw;
	height: 40vh;
	background-color: black;
	left: 51.9vw;
	cursor: pointer;
	top: 40vh;
}
.containerunten {
	position: absolute;
	z-index: 2;
	background-color: rgba(18, 18, 40, 0.795);
	width: 100%;
	height: 9vh;
	bottom: 0vh;
}
.containerunten:hover {
	background-color: rgba(48, 48, 100, 0.795);
	transition: 2s;
}
.titeltext {
	position: absolute;
	color: rgb(255, 255, 255);
	left: 1vw;
	width: 23vw;
	top: -0.8vh;
	background-color: rgba(255, 0, 0, 0);
	letter-spacing: 0.1vw;
	font-size: 1.3vw;
	transform: rotate(0deg);
	font-family: "Goldman", cursive;
}
.desctext {
	position: absolute;
	color: rgb(255, 255, 255);
	left: 1vw;
	top: 3.2vh;
	letter-spacing: 0.1vw;
	font-size: 0.8vw;
	width: 23vw;
	background-color: rgba(255, 0, 0, 0);
	transform: rotate(0deg);
	font-family: "Lato", sans-serif;
}
.bilds {
	position: absolute;
	top: -50vh;
	width: 30vw;
	left: -2vw;
}
.bildss {
	position: absolute;
	top: -20vh;
	width: 15vw;
	left: 5vw;
}
.bildsse {
	position: absolute;
	top: -25vh;
	width: 15vw;
	left: 5vw;
}
.bildsses {
	position: absolute;
	top: -22vh;
	width: 15vw;
	left: 6vw;
}
.backgroundimg {
	position: absolute;
	width: 110%;
	height: 110%;
	filter: blur(1vw);
}
.greylinie {
	position: absolute;
	width: 93%;
	height: 0.3vh;
	background-color: rgba(53, 53, 53, 0.523);
	z-index: 1;
	top: 1vh;
	left: 3vw;
	top: 7vh;
}

.textkriminelleautos {
	position: absolute;
	color: rgb(255, 255, 255);
	left: 3vw;
	width: 43vw;
	top: -1.4vh;
	z-index: 1;
	background-color: rgba(255, 0, 0, 0);

	font-size: 2vw;

	font-family: "Lato", sans-serif;
}

.container-auswahlautos {
	position: absolute;
	width: 24vw;
	height: 86vh;
	background-color: rgba(255, 0, 0, 0);
	top: 10vh;
	z-index: 1;
	left: 3.3vw;
	overflow-y: scroll;
}
.container-auswahlautos::-webkit-scrollbar {
	width: 0.3vw;
}

.container-auswahlautos::-webkit-scrollbar-track {
	border-radius: 1vw;
	background-color: rgba(255, 255, 255, 0.089);
}

.container-auswahlautos::-webkit-scrollbar-thumb {
	background-color: #959595;
	border-radius: 2vw;
	-webkit-box-shadow: rgba(0, 0, 0, 0.185) 0 3px 13px 1px;
}
.exit {
	position: absolute;
	width: 3vw;
	z-index: 1;
	right: 4vw;
	top: 1vh;
	border-radius: 0.2vw;
	cursor: pointer;
	height: 5vh;
	background: rgba(41, 41, 41, 0.439);
}
.exit:hover {
	transition: 1s all;
	background-color: rgba(16, 16, 16, 0.65);
}
.imgexit {
	position: absolute;
	width: 2vw;
	left: 0.5vw;
	top: 0.6vh;
}
.money {
	position: absolute;
	color: rgb(255, 255, 255);
	right: 16vw;
	width: 13vw;
	top: 0.2vh;
	z-index: 1;
	text-align: right;
	background-color: rgba(255, 0, 0, 0);
	font-size: 1.3vw;
	font-family: "Lato", sans-serif;
}

.moneybild {
	position: absolute;
	right: 14vw;
	width: 2vw;
	top: 1.5vh;
	z-index: 1;
}

.return {
	position: absolute;
	width: 6vw;
	z-index: 1;
	right: 7.8vw;
	top: 1vh;
	border-radius: 0.2vw;
	cursor: pointer;
	height: 5vh;
	background: rgba(41, 41, 41, 0.439);
}
.return:hover {
	transition: 1s all;
	background-color: rgba(16, 16, 16, 0.65);
}
.imgreturn {
	position: absolute;
	width: 2.5vw;
	height: 4.5vh;
	left: 1.8vw;
	top: 0.2vh;
}
.container-cont {
	position: relative;
	width: 23vw;
	background-color: rgba(37, 37, 37, 0.494);
	height: 16vh;
	left: 0vw;
	top: -2vh;
	margin-top: 2vh;
	cursor: pointer;
	border-left: 0.2vw solid rgb(182, 21, 150);
}
.container-cont:hover {
	transition: 1s all;
	background-color: rgba(24, 24, 24, 0.494);
}
.textstream {
	position: absolute;
	color: rgb(255, 255, 255);
	left: 1vw;
	width: 15vw;
	top: 0.2vh;
	z-index: 1;
	text-align: left;
	background-color: rgba(244, 3, 3, 0);
	font-size: 1.2vw;
	font-family: "Roboto", sans-serif;
}
.moneystream {
	position: absolute;
	color: rgb(255, 255, 255);
	right: 1vw;
	width: 15vw;
	top: 0.2vh;
	z-index: 1;
	text-align: right;
	background-color: rgba(244, 3, 3, 0);
	font-size: 1.2vw;
	font-family: "Roboto", sans-serif;
}
.bildskandal {
	position: absolute;
	width: 15vw;
	left: 4vw;

	overflow: hidden;
	top: 1.5vh;
}
.bildskandals {
	position: absolute;
	width: 10vw;
	left: 5vw;

	overflow: hidden;
	top: 2vh;
}
.bildskandalss {
	position: absolute;
	width: 10vw;
	left: 6vw;
	overflow: hidden;
	top: 6vh;
}

.container-auswahlitems {
	position: absolute;
	width: 24vw;
	height: 86vh;
	background-color: rgba(255, 0, 0, 0);
	top: 10vh;
	z-index: 1;
	left: 3.3vw;
	overflow-y: scroll;
}
.container-auswahlitems::-webkit-scrollbar {
	width: 0.3vw;
}

.container-auswahlitems::-webkit-scrollbar-track {
	border-radius: 1vw;
	background-color: rgba(255, 255, 255, 0.089);
}

.container-auswahlitems::-webkit-scrollbar-thumb {
	background-color: #959595;
	border-radius: 2vw;
	-webkit-box-shadow: rgba(0, 0, 0, 0.185) 0 3px 13px 1px;
}
.container-rechts {
	position: absolute;
	width: 70vw;
	height: 86vh;
	z-index: 1;
	left: 28vw;
	top: 10vh;
	background-color: rgba(255, 0, 0, 0);
}
.textstreammiddle {
	position: absolute;
	color: rgb(255, 255, 255);
	left: 2vw;
	width: 15vw;
	top: -3.2vh;
	z-index: 1;
	text-align: left;
	background-color: rgba(244, 3, 3, 0);
	font-size: 2.2vw;
	font-family: "Roboto", sans-serif;
}
.imgmiddle {
	position: absolute;
	width: 42vw;
	left: 10.5vw;
	top: 6.6vh;
}
.buttonbuy {
	position: absolute;
	width: 13vw;
	height: 6vh;
	background-color: rgba(116, 248, 116, 0.355);
	bottom: 2vh;
	cursor: pointer;
	border-radius: 0.2vw;
	right: 1vw;
}
.container-unten {
	position: absolute;
	width: 100%;
	height: 20vh;
	bottom: 0vh;
	background-color: rgba(31, 31, 31, 0.481);

	border-radius: 0.4vw;
}
.buttonbuy:hover {
	transition: 1s all;
	background-color: rgba(49, 49, 49, 0.638);
}
.kaufentext {
	position: absolute;
	color: rgb(255, 255, 255);
	right: 4.25vw;
	top: 0.3vh;
	letter-spacing: 0.1vw;
	font-size: 1.1vw;
	transform: rotate(0deg);
	font-family: "Lato", sans-serif;
}
.inputt {
	position: absolute;
	border: none;
	-webkit-appearance: none;
	padding: 0.1vw 1vw;

	right: 15vw;
	border-radius: 0.1vw;
	bottom: 2vh;
	width: 13vw;
	color: rgb(225, 225, 225);
	font-family: "Poppins", sans-serif;
	height: 5.5vh;
	text-align: left;
	z-index: 29;
	font-size: 1.3vw;
	background-color: rgba(34, 31, 31, 0.483);
	outline: none;
	border: 0.1vh solid rgb(82, 82, 82);
	text-align: center;
}
.inputt:hover {
	background-color: rgba(40, 40, 40, 0.454);
	transition: color 0.6 ease;
}
.inputt:focus::placeholder {
	color: transparent;
}
.inputt::placeholder {
	color: rgb(218, 218, 218);
	transition: color 0.3s ease;
}
.container-preis {
	position: absolute;
	border: none;
	padding: 0.1vw 1vw;

	right: 1vw;
	border-radius: 0.1vw;
	bottom: 10vh;
	width: 11vw;
	color: rgb(225, 225, 225);
	font-family: "Poppins", sans-serif;
	height: 5.5vh;
	text-align: left;
	z-index: 29;
	font-size: 1.3vw;
	background-color: rgba(34, 31, 31, 0.483);
	outline: none;
	border: 0.1vh solid rgb(82, 82, 82);
	text-align: center;
}
.preis {
	position: absolute;
	color: rgb(255, 255, 255);
	right: 0vw;
	width: 13vw;
	top: -0.8vh;
	z-index: 1;
	text-align: center;
	background-color: rgba(255, 0, 0, 0);
	font-size: 1.6vw;
	font-family: "Lato", sans-serif;
}
.shoppingbagcontainer {
	position: absolute;
	width: 6vw;
	height: 13vh;
	border-radius: 0.1vw;
	background-color: rgba(255, 255, 255, 0.641);
	right: 0vw;
}
.shoppingbag {
	position: absolute;
	width: 4vw;
	left: 1vw;
	top: 2.5vh;
}
.imgmiddles {
	position: absolute;
	width: 42vw;
	left: 13.5vw;
	top: 20.6vh;
}
.bildskandalsss {
	position: absolute;
	width: 8vw;
	left: 6.5vw;
	overflow: hidden;
	top: 3vh;
}
