body {
	margin: 0vw;
	padding: 0vw;
}
.img {
	position: absolute;
	width: 70vw;
	left: 15vw;
	top: 3vh;
}
.container-scroll {
	position: absolute;
	width: 60.2vw;
	z-index: 1;
	height: 66.5vh;
	overflow-y: scroll;
	background-color: rgba(255, 0, 0, 0);
	left: 20vw;
	top: 14vh;
}

.container-scroll::-webkit-scrollbar {
	width: 0.6vw;
}

.container-scroll::-webkit-scrollbar-track {
	border-radius: 1vw;
	background-color: rgba(255, 255, 255, 0.294);
}

.container-scroll::-webkit-scrollbar-thumb {
	background-color: #202020;
	border-radius: 2vw;
	-webkit-box-shadow: rgba(0, 0, 0, 0.185) 0 3px 13px 1px;
}
.blatt {
	position: relative;
	height: 29vh;
	margin-left: 2vw;
	background-color: #ffffff00;
	width: 12vw;
	display: inline-block;
	top: -1vh;
	margin-top: 4vh;
}
.card {
	height: 100%;
	width: 100%;
	background-color: white;
	box-shadow: 0vw 0vw 0.6vw 0vw black;
}
.card:before,
.card:after {
	content: "";
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	box-shadow: 0vw 0vw 0.9vw black;
	background-color: white;
}
.card:before {
	transform: rotate(3deg);
}
.blatt:hover {
	cursor: pointer;
	transition: 0.5s all;
	transform: scale(1.1);
}
.btn {
	position: absolute;
	top: 9.2vh;
	left: 72vw;
	width: 8vw;
	height: 3.2vh;
	background-color: rgb(248, 0, 211);
	border-radius: 0.2vw;
	font-size: 0.8vw;
	padding: 3px 17px;
	border: none;
	cursor: pointer;
	color: white;
	transition: color 0.2s linear, background-color 0.2s linear;
	letter-spacing: 0.2px;
}
.saveoutifit1 {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 30;
}
.outfitspeicherntext1 {
	position: absolute;
	color: #ffffff;
	font-family: "Nunito Sans", sans-serif;
	left: 42vw;
	font-size: 2.1vw;
	text-align: center;
	z-index: 10;
	top: 24vh;
	background-color: rgba(255, 0, 0, 0);
}
.buttonabbrechen1 {
	position: absolute;
	left: 37.4vw;
	top: 43.5vh;
	width: 12vw;
	height: 7.4vh;
	z-index: 29;
	font-size: 1.2vw;
	background-color: rgba(233, 7, 56, 0.696);
	outline: none;
	cursor: pointer;
	border-radius: 0.2vw;
	color: #ffffff;
	border: none;
	border: 0.1vw solid white;
	outline: none;
	z-index: 29;
}
.buttonabbrechen1:hover {
	filter: brightness(85%);
	color: #ffffff;
	transition: 1s all;
	border: 0.1vw solid rgba(221, 77, 119, 255);
	background-color: rgba(21, 21, 21, 0.746);
}

.strichlinksoben {
	position: absolute;
	width: 10vw;
	height: 28vh;
	border-left: 0.1vh solid white;
	border-top: 0.1vh solid white;
	left: 36vw;
	z-index: 2;
	top: 24.5vh;
}
.strichrechtsunten {
	position: absolute;
	width: 10vw;
	height: 28vh;
	border-right: 0.1vh solid white;
	border-bottom: 0.1vh solid white;
	left: 54vw;
	z-index: 2;
	top: 24.5vh;
}
.boxinnen {
	position: absolute;
	width: 32vw;
	height: 33vh;
	background-color: rgba(33, 33, 33, 0.258);
	left: 34vw;
	z-index: 1;
	top: 22vh;
}
.saveoutifit {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 30;
}
.strichdrunterspeichern {
	position: absolute;
	width: 21vw;
	height: 0.4vh;
	background-color: rgba(221, 77, 119, 255);
	left: 39.5vw;
	top: 32.5vh;
	z-index: 10;
	border-radius: 1vw;
}
.outfitspeicherntextifno {
	position: absolute;
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	left: 39.5vw;
	font-size: 1.2vw;
	text-align: left;
	z-index: 10;
	width: 22vw;
	top: 33vh;
	background-color: rgba(255, 0, 0, 0);
}
.container1 {
	position: absolute;
	width: 10vw;
	height: 5vh;
	background-image: linear-gradient(
		to right,
		#d475e384,
		#a7529a77,
		#73365c71,
		#3c1e2c7a,
		#00000084
	);
	border-radius: 1vw;
	bottom: 1.5vh;
	right: 1vw;
}

.KeyHinweis {
	position: absolute;
	color: #ffffff9c;
	font-family: "Open Sans", sans-serif;
	left: 1.1vw;
	font-size: 1.4vw;
	text-align: center;
	z-index: 10;
	top: -1vh;
	background-color: rgba(255, 0, 0, 0);
}
.KeyHinweisInfo {
	position: absolute;
	color: #ffffff;
	font-family: "Khula", sans-serif;
	left: 3vw;
	font-size: 0.9vw;
	text-align: center;
	z-index: 10;
	width: 7vw;
	top: 0.2vh;
	background-color: rgba(255, 0, 0, 0);
}
.container2 {
	position: absolute;
	width: 10vw;
	height: 5vh;
	background-image: linear-gradient(
		to right,
		#d475e384,
		#a7529a77,
		#73365c71,
		#3c1e2c7a,
		#00000084
	);
	border-radius: 1vw;
	bottom: 1.5vh;
	right: 12vw;
}
.container3 {
	position: absolute;
	width: 10vw;
	height: 5vh;
	background-image: linear-gradient(
		to right,
		#d475e384,
		#a7529a77,
		#73365c71,
		#3c1e2c7a,
		#00000084
	);
	border-radius: 1vw;
	bottom: 1.5vh;
	right: 23vw;
}
.container4 {
	position: absolute;
	width: 10vw;
	height: 5vh;
	background-image: linear-gradient(
		to right,
		#d475e384,
		#a7529a77,
		#73365c71,
		#3c1e2c7a,
		#00000084
	);
	border-radius: 1vw;
	bottom: 1.5vh;
	right: 34vw;
}
.container5 {
	position: absolute;
	width: 10vw;
	height: 5vh;
	background-image: linear-gradient(
		to right,
		#d475e384,
		#a7529a77,
		#73365c71,
		#3c1e2c7a,
		#00000084
	);
	border-radius: 1vw;
	bottom: 1.5vh;
	right: 45vw;
}
.esctext {
	position: absolute;
	color: rgb(255, 255, 255);
	right: 3vw;
	top: 2.5vh;
	letter-spacing: 0.1vw;
	font-size: 1.1vw;
	transform: rotate(0deg);
	font-family: "Lato", sans-serif;
}
.outfitspeicherntextifno2 {
	position: absolute;
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	left: 39.5vw;
	font-size: 1.2vw;
	text-align: center;
	z-index: 10;
	width: 22vw;
	top: 34vh;
	background-color: rgba(255, 0, 0, 0);
}

.buttonkaufenchips {
	position: absolute;
	left: 50vw;
	top: 43.5vh;
	width: 12.8vw;
	height: 7.4vh;
	z-index: 29;
	font-size: 1.2vw;
	background-color: rgba(34, 31, 31, 0.476);
	outline: none;
	cursor: pointer;
	border-radius: 0.2vw;
	color: #ffffff;
	border: none;
	border: 0.1vw solid white;
	outline: none;
	z-index: 29;
}
.buttonkaufenchips:hover {
	filter: brightness(85%);
	color: #ffffff;
	transition: 1s all;
	border: 0.1vw solid rgba(221, 77, 119, 255);
	background-color: rgba(21, 21, 21, 0.746);
}
.outfitspeicherntext2 {
	position: absolute;
	color: #ffffff;
	font-family: "Nunito Sans", sans-serif;
	left: 42.5vw;
	font-size: 2.1vw;
	text-align: center;
	z-index: 10;
	top: 24vh;
	background-color: rgba(255, 0, 0, 0);
}
.buttonverkaufenchips {
	position: absolute;
	left: 50vw;
	top: 43.5vh;
	width: 12.8vw;
	height: 7.4vh;
	z-index: 29;
	font-size: 1.2vw;
	background-color: rgba(34, 31, 31, 0.476);
	outline: none;
	cursor: pointer;
	border-radius: 0.2vw;
	color: #ffffff;
	border: none;
	border: 0.1vw solid white;
	outline: none;
	z-index: 29;
}
.seveninfo {
	width: 100%;
	height: 100%;
	background-color: red;
}
.iputt-titel {
	border: none;
	-webkit-appearance: none;
	position: absolute;
	left: 1.5vw;
	height: 4vh;
	width: 21.3vw;
	top: 1vh;
	color: rgb(0, 0, 0);
	font-family: "Khula";
	font-style: normal;
	font-weight: 500;
	font-size: 1.3vw;
	padding-left: 0.7vw;
	line-height: 3vh;
	padding-top: 1.5vh;
	resize: none;
	overflow-y: hidden;
	z-index: 29;
	text-align: center;
	background-color: #18294500;
	outline: none;
}
.iputt-descriptiondispatch:hover {
	transition: color 0.6 ease;
}
.iputt-titel:focus::placeholder {
	color: transparent;
}
.iputt-titel::placeholder {
	color: rgb(0, 0, 0);
	transition: color 0.3s ease;
}
.iputt-beschreibung {
	border: none;
	-webkit-appearance: none;
	position: absolute;
	left: 3.5vw;
	height: 48vh;
	width: 21.3vw;
	top: 7vh;
	color: rgb(0, 0, 0);
	font-family: "Khula";
	font-style: normal;
	font-weight: 500;
	font-size: 0.9vw;
	padding-left: 0.4vw;
	line-height: 3vh;
	padding-top: 1.5vh;
	resize: none;
	z-index: 29;
	text-align: center;
	background-color: #18294500;
	outline: none;
}
.iputt-beschreibung:hover {
	transition: color 0.6 ease;
}
.iputt-beschreibung:focus::placeholder {
	color: transparent;
}
.iputt-beschreibung::placeholder {
	color: rgb(0, 0, 0);
	transition: color 0.3s ease;
}
.inputttitelunterschrift1 {
	position: absolute;
	top: 51.5vh;
	left: 4vw;
	width: 10vw;
	font-family: "Hurricane", cursive;
	font-style: normal;
	font-weight: 700;
	font-size: 1.3vw;

	text-align: center;
	background-color: #18294500;
	border: none;
	color: rgb(0, 0, 0);
	border-bottom: 0.1vh solid black;

	-webkit-appearance: none;
	padding-top: 1vh;
	outline: none;
}
.inputttitelunterschrift1:hover {
	transition: color 0.6 ease;
}
.inputttitelunterschrift1:focus::placeholder {
	color: transparent;
	border: none;
}
.inputttitelunterschrift1::placeholder {
	color: rgb(0, 0, 0);
	transition: color 0.3s ease;
}
.inputttitelunterschrift2 {
	position: absolute;
	top: 51.5vh;
	left: 15.5vw;
	width: 10vw;
	font-family: "Hurricane", cursive;
	font-style: normal;
	font-weight: 700;
	font-size: 1.3vw;
	text-align: center;
	background-color: #18294500;
	border: none;
	color: rgb(0, 0, 0);
	border-bottom: 0.1vh solid black;

	-webkit-appearance: none;
	padding-top: 1vh;
	outline: none;
}

.textunterunterschrift {
	position: absolute;
	color: rgb(0, 0, 0);
	font-size: 0.8vw;
	left: 6.7vw;
	letter-spacing: 0.1vw;
	top: 56vh;
	font-family: "Khula";
}
.textunterunterschrift2 {
	position: absolute;
	color: rgb(0, 0, 0);
	font-size: 0.8vw;
	left: 16.5vw;
	letter-spacing: 0.1vw;
	top: 56vh;
	font-family: "Khula";
}
.seveninfoentegennehmer {
	width: 100%;
	height: 100%;
	background-color: red;
}
.inputttitelunterschrift1entegennehmer {
	position: absolute;
	top: 51.5vh;
	left: 4vw;
	width: 10vw;
	font-family: "Hurricane", cursive;
	font-style: normal;
	font-weight: 700;
	font-size: 1.3vw;

	text-align: center;
	background-color: #18294500;
	border: none;
	color: rgb(0, 0, 0);
	border-bottom: 0.1vh solid black;

	-webkit-appearance: none;
	padding-top: 1vh;
	outline: none;
}
.inputttitelunterschrift2entgegennehmer {
	position: absolute;
	top: 51.5vh;
	left: 15.5vw;
	width: 10vw;
	font-family: "Hurricane", cursive;
	font-style: normal;
	font-weight: 700;
	font-size: 1.3vw;
	text-align: center;
	background-color: #18294500;
	border: none;
	color: rgb(0, 0, 0);
	border-bottom: 0.1vh solid black;

	-webkit-appearance: none;
	padding-top: 1vh;
	outline: none;
}
.inputttitelunterschrift2entgegennehmer:hover {
	transition: color 0.6 ease;
}
.inputttitelunterschrift2entgegennehmer:focus::placeholder {
	color: transparent;
	border: none;
}
.inputttitelunterschrift2entgegennehmer::placeholder {
	color: rgb(0, 0, 0);
	transition: color 0.3s ease;
}
.leftlogistik {
	position: absolute;
	width: 85vw;
	height: 100%;
	background: linear-gradient(
		to right,
		rgba(114, 0, 89),
		rgba(0, 0, 255, 0) 95.71%
	);
}
.rightlogistik {
	position: absolute;
	width: 85vw;
	height: 100%;
	right: 0vw;
	background: linear-gradient(
		to left,
		rgba(114, 0, 89),
		rgba(0, 0, 255, 0) 95.71%
	);
}
.streifen {
	position: absolute;
	width: 0.1vw;
	height: 100%;
	left: 6vw;
	background-color: white;
}
.text-impounder {
	position: absolute;
	color: rgba(137, 137, 137, 0.408);
	left: -13.5vw;
	top: 41vh;
	letter-spacing: 0.1vw;
	font-size: 4.5vw;
	transform: rotate(270deg);
	font-family: "Goldman", cursive;
}
.button-down {
	position: relative;
	height: 5vh;
	width: 15vw;
	font-family: "Goldman", cursive;
	font-size: 1.3vw;
	left: 8vw;
	top: 9vh;
	margin-left: 2vw;
	border: none;
	outline: none;
	z-index: 1;
	color: white;
	cursor: pointer;
	background-color: rgb(164, 0, 167);
	border-radius: 0.2vw;
}

.button-down:hover {
	transition: 1s all;
	background-color: rgb(110, 0, 112);
}
.text-impounder2 {
	position: absolute;
	color: rgb(255, 255, 255);
	left: 10vw;
	top: -0.3vh;
	letter-spacing: 0.1vw;
	font-size: 2vw;

	font-family: "Lato";
}
.line-unter {
	position: absolute;
	width: 88vw;
	height: 0.2vh;
	top: 6.8vh;
	left: 10vw;
	border-top-right-radius: 1vw;
	border-bottom-right-radius: 1vw;
	background-color: rgb(185, 32, 86);
}
.esctext {
	position: absolute;
	color: rgb(255, 255, 255);
	right: 3vw;
	top: 1.6vh;
	letter-spacing: 0.1vw;
	font-size: 1.2vw;
	transform: rotate(0deg);
	font-family: "Lato", sans-serif;
}

.insert-container {
	position: absolute;
	width: 86vw;
	z-index: 1;
	height: 76.5vh;
	overflow-y: scroll;
	background-color: rgba(255, 0, 0, 0);
	left: 11vw;
	top: 18vh;
}
.insert-container::-webkit-scrollbar {
	width: 0.6vw;
}

.insert-container::-webkit-scrollbar-track {
	border-radius: 1vw;
	background-color: rgba(255, 255, 255, 0.294);
}

.insert-container::-webkit-scrollbar-thumb {
	background-color: #202020;
	border-radius: 2vw;
	-webkit-box-shadow: rgba(0, 0, 0, 0.185) 0 3px 13px 1px;
}
.lines {
	position: absolute;
	width: 20vw;
	height: 54vh;
	left: 78vw;
	top: 42vh;
	border-bottom: 0.2vw solid white;
	border-right: 0.2vw solid white;
}

.lines2 {
	position: absolute;
	width: 20vw;
	height: 54vh;
	left: 10vw;
	top: 16vh;
	border-left: 0.2vw solid white;
	border-top: 0.2vw solid white;
}
.insert-container-result {
	position: relative;
	display: inline-block;
	width: 20vw;
	left: -0.5vw;
	margin-left: 1vw;
	margin-top: 1vh;
	height: 13vh;
	border-radius: 0.1vw;
	background-color: rgba(26, 26, 26, 0.473);
}
.Item-Name-Logistik {
	position: absolute;
	color: rgb(255, 255, 255);
	left: 1vw;
	top: -0.9vh;
	border-bottom: 0.2vw solid white;
	letter-spacing: 0.1vw;
	font-size: 1.3vw;
	overflow: hidden;
	text-align: center;
	width: 18vw;

	font-family: "Lato";
}
.Item-Picture {
	position: absolute;
	width: 2.7vw;
	top: 0.5vh;
	right: 0.4vw;
}
.bilds {
	position: absolute;
	width: 5.5vw;
	top: 6.8vh;
	left: 14vw;
	background-color: rgba(255, 0, 0, 0);
}
.Button-Buy {
	position: absolute;
	height: 5vh;
	width: 9vw;
	font-family: "Goldman", cursive;
	font-size: 1.3vw;
	left: -1vw;
	top: 5.5vh;
	margin-left: 2vw;
	border: none;
	outline: none;
	z-index: 1;
	color: white;
	cursor: pointer;
	background-color: rgb(164, 0, 167);
	border-radius: 0.2vw;
}
.kaufvertrag-body {
	position: absolute;
	left: 38vw;
	height: 70vh;
	background-color: #ffffff00;
	width: 25vw;
	top: 10vh;
}
.kaufvertrag-card {
	height: 100%;
	width: 100%;
	background-color: white;
	box-shadow: 0vw 0vw 0.6vw 0vw black;
}
.kaufvertrag-card:before,
.kaufvertrag-card:after {
	content: "";
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	box-shadow: 0vw 0vw 0.9vw black;
	background-color: white;
}
.kaufvertrag-card:before {
	transform: rotate(3deg);
}
.überschrift {
	font-family: "DM Mono", monospace;
	position: absolute;
	left: 1.5vw;
	top: 4vh;
	font-size: 1.6vw;
	width: 22vw;

	text-align: center;
	color: rgb(145, 145, 145);
	border-bottom: solid 0.1vw rgb(83, 83, 83);
}
.überschrifts {
	font-family: "DM Mono", monospace;
	position: absolute;
	left: 6.7vw;
	top: 19vh;
	font-size: 1.2vw;
	width: 15vw;

	text-align: center;
	color: rgb(145, 145, 145);
	border-bottom: solid 0.1vw rgb(83, 83, 83);
}
.überschrifts1 {
	font-family: "DM Mono", monospace;
	position: absolute;
	left: 6.7vw;
	top: 37vh;
	font-size: 1.2vw;
	width: 15vw;

	text-align: center;
	color: rgb(145, 145, 145);
	border-bottom: solid 0.1vw rgb(83, 83, 83);
}
.information-card {
	position: absolute;
	width: 21vw;
	height: 40vh;
	top: 1vh;
	background-color: rgba(255, 0, 0, 0);
	left: -2vw;
}
.text1 {
	position: absolute;
	font-family: "DM Mono", monospace;
	font-size: 0.85vw;
	top: 4vh;
	left: 4.5vw;
	width: 20vw;
	background-color: rgba(255, 0, 0, 0);
	color: black;
	text-align: center;
}
.text2 {
	position: absolute;
	font-family: "DM Mono", monospace;
	font-size: 0.85vw;
	top: 24vh;
	left: 4.5vw;
	width: 20vw;
	color: black;
	text-align: center;
}
.text3 {
	position: absolute;
	font-family: "DM Mono", monospace;
	font-size: 0.85vw;
	top: 43vh;
	left: 4.5vw;
	width: 20vw;
	color: black;
	text-align: center;
}
.btn2 {
	position: absolute;
	top: 61vh;
	left: 4vw;
	width: 21vw;
	height: 5vh;
	background-color: rgba(68, 68, 68, 0.52);
	border-radius: 0.2vw;
	font-size: 1vw;
	padding: 13px 17px;
	border: none;
	cursor: pointer;
	color: white;
	transition: color 0.2s linear, background-color 0.2s linear;
	letter-spacing: 0.2px;
}
.überschrift2 {
	font-family: "DM Mono", monospace;
	position: absolute;
	left: 1vw;
	top: 2vh;
	font-size: 1.6vw;
	width: 10vw;

	text-align: center;
	color: rgb(145, 145, 145);
	border-bottom: solid 0.1vw rgb(83, 83, 83);
}
.textüberschrift {
	position: absolute;
	font-family: "DM Mono", monospace;
	font-size: 0.85vw;
	top: 0.8vh;
	left: 1vw;
	width: 10vw;
	height: 5vh;
	background-color: rgba(200, 103, 103, 0);
	text-align: center;
}
.textbeschreibung {
	position: absolute;
	font-family: "DM Mono", monospace;
	font-size: 0.65vw;
	top: 3.5vh;
	overflow: hidden;
	left: 1vw;
	width: 10vw;
	height: 23vh;
	background-color: rgba(200, 103, 103, 0);
	text-align: center;
}
.iputt-beschreibung2 {
	border: none;
	-webkit-appearance: none;
	position: absolute;
	left: 3.5vw;
	height: 48vh;
	width: 21.3vw;
	top: 7vh;
	color: rgb(0, 0, 0);
	font-family: "Khula";
	font-style: normal;
	font-weight: 500;
	font-size: 0.9vw;
	padding-left: 0.4vw;
	line-height: 3vh;
	padding-top: 1.5vh;
	resize: none;
	z-index: 29;
	text-align: center;
	background-color: #18294500;
	outline: none;
}
.iputt-beschreibung2:hover {
	transition: color 0.6 ease;
}
.iputt-beschreibung2:focus::placeholder {
	color: transparent;
}
.iputt-beschreibung2::placeholder {
	color: rgb(0, 0, 0);
	transition: color 0.3s ease;
}
.imginit {
	position: absolute;
	width: 100%;
	height: 100%;
}
